*

!/.gitignore

!/*.md
!/LICENSE
!/app.config.ts
!/package.json
!/tsconfig.json
!/vite.config.ts
!/vitest.config.ts
!/eslint.config.js
!/postcss.config.js

!/src/
!/src/**
!/public/
!/public/**
!/docs/
!/docs/**
!/tests/
!/tests/**
!/.agent/
!/.agent/**

/node_modules/
/.vinxi/
/.output/
/.solid/
/dist/
/.vscode/
/.idea/

/.env
/.env*.local

